.elements {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 21px 17px;
    margin-bottom: 67px;
    justify-items: center;
}

@media screen and (max-width: 1023px) {
    .elements {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 20px;
        margin: 0 calc((100vw - 2*282px - 20px)/2) 48px;
    } 
}

@media screen and (max-width: 767px) {
    .elements {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        gap: 20px;
        margin: 0 0 48px;
    } 
}

